.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* full screen height */
    background-color: transparent;
    /* Add a semi-transparent black background with blur effect */
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    width: 100%;
    position: absolute;
    z-index: 9999;
  }
  
  .spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #e0e0e0;
    border-top: 6px solid #3498db; /* spinner color */
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  